<div class="header-wrapper">
    <div class="brand">
        Note
    </div>
    <div class="search">
        <div class="search-btn">
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
        </div>
        <input type="text" class="input-search" placeholder="Search Notes">
    </div>
    <div class="account">
        <span class="account-name">Normal User</span>
        <div class="account-img">
            <img src="https://tse4.mm.bing.net/th?id=OIP.IGNf7GuQaCqz_RPq5wCkPgHaLH&pid=Api&P=0&h=180" alt="" class="account-img">
        </div>
    </div>
</div>