.note-labels {
    display      : flex;
    align-items  : center;
    flex-wrap    : wrap;
    gap          : 10px;
    margin-bottom: 10px;
}

h1 {
    margin: 0;
}

.create-note {
    position       : fixed;
    bottom         : 30px;
    right          : 50px;
    width          : 40px;
    height         : 40px;
    border-radius  : 50%;
    outline        : none;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.create-note button {
    width        : 100%;
    height       : 100%;
    border       : none;
    border-radius: 50%;
    color        : #1f1f1f;
    outline      : none;
    font-size    : 20px;
    transition   : all 0.2s linear;
}

.create-note button:hover {
    background-color: rgba(255, 165, 0, 0.66);
    color           : white;
}